// @import "../scss-builder/mixins/layout.scss";
@import "../../scss-builder/mixins/border.scss";
// @import "../scss-builder/mixins/center.scss";
// @import "../scss-builder/constants/color.scss";

div.container {
    height: auto;
    width: 100vw;

    & > * {
        @include Debug(blue);
        background-color: #cf15cf;
    }

    & >  div.mid {
        height:500px;
    }

    & >  div.foot {
        height: 70px;
    }

    & >  div.head {
        height: 415px;
    }
}