@import "../../scss-builder/mixins/layout.scss";
@import "../../scss-builder/mixins/border.scss";
@import "../../scss-builder/mixins/center.scss";
@import "../../scss-builder/constants/color.scss";

div.container {
    @include Flex(row, center, center);
    @include Debug(green);

    width: 100%;
    height: 54px;
    position: fixed;

    & > div {
        @include Debug(red);
        flex-basis: 10%;
        height: 100%;
    }

    & > div.logo {
        @include Debug(#503834);
        flex-basis: 80%;
        background-color: $b;
    }

    & > div.cart {
        @include GridCenter;
        @include Debug(blue);
        background-color: $b;
        color: $w;
        padding-top: 0;

        & > div.cart_container {
            & > div {
                @include Flex();
                width: 100%;
                vertical-align: center;

                & > * {
                    @include Debug(green);
                    flex-basis: 50%;
                    width: 100%;
                    vertical-align: center;
                }
            }
        }
    }

    & > div.matic {
        @include Debug(yellow);
        @include GridCenter;

        & > div {
            @include Debug(orange);
            width: 100%;
        }
    }
}